/*KETERANGAN*/
/*color*/
/*color*/
.c-white {
  color: #FFFFFF;
}
.c-black {
  color: #313131;
}
.c-red {
  color: #E53219;
}
.c-red-l {
  color: #F08374;
}
.c-red-d {
  color: #B72814;
}
.c-green {
  color: #36B37E;
}
.c-green-l {
  color: #79D6AF;
}
.c-green-d {
  color: #2A8C62;
}
.c-orange {
  color: #FFB968;
}
.c-orange-l {
  color: #FFE8CE;
}
.c-orange-d {
  color: #FFA135;
}
.bc-black {
  color: #313131;
}
