body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    margin:0;
    padding: 0;
}
#app{
    /*background-color: #67e6dc;*/
    background-color: #f7f7f7;
}
.has-fc-offcanvas {
    -webkit-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    width: 100%;

}
.hr-primary{
    border-top: 6px solid #8e44ad;
    margin: 0;
}
a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 16px;
}
p {
    margin: 0 0 10px;
    display: block;
    font-size: 14px;
}
.navbar{
    margin-bottom:0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-item{
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.bg-red{
 	background: linear-gradient(-135deg,#8649D6 0,#2791D2 100%);	
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
	font-weight: bold;
	font-size: 22px;
    color: #fff;
}
.fl-hellobar-info {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    color: #c7c7c7;
    font-size: 12px;
}
.u-mb--no {
    margin-bottom: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.u-mr--10 {
    margin-right: 10px;
}
.list-inline{
    margin-bottom: 0px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link{
	padding-top: 16px;
}
/*.navbar-nav{
    padding-left: 25px;
}*/
.navbar-nav>li.open>.dropdown-menu, .open .dropdown-menu {
    border-radius: 10px;
    padding-bottom: 5px;
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -o-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
.fl-hellobar-info__dropdown {
    top: 22px;
    left: -115px;
}
.open .dropdown-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.bottom-nav{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0px;
    left: 0px;
    box-shadow:outset 0 15px 5px -16px #111;
}
.body-content{
    padding: 0;
    margin-bottom: 45px;
}
.fc-copyright__text{
	p {
      font-weight: 600;
      margin-bottom: 15px;
    }

    font-size: 1.1rem;

    @media (max-width: 768px) {
      line-height: 3rem;
      text-align: center;
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
/*.space{
    margin: 5px 5px 5px 5px;
}*/
.card{
    margin-right: 30px;
    margin-left: 30px;
}
.push-left{
    margin-right:35px;
}
.tes{
    color: #fff;
}
.purple{
    color: #7158e2;   
}
.home-text{
    font-size: 18px;
}
.home-title{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 20px;
}
.lilac{
    background-color: #ff3838;
}
.icon-heart{
    color: #ff3838;
}
.slide{
    margin-top: 25px;
}
.btn-custom{
    margin-bottom: 30px;
}
.profile-header{
    background-color: #02b3e4;
    padding: 70px 15px 70px 15px;
}
.profile_body_content{
    padding: 25px;
}
.tab_profile{
    margin-top: 30px;
}
.nav_border{
    border: 1px solid #007bff;
}
.menu_profile{
    background-color: #fff; 
    padding: 40px; 
    margin-right: 45px;     
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.account_page{
    background-color: #fff; 
    padding: 40px;
    border-left: 4px solid #4c7ef3;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.nav_custom{
    padding: 10px 15px 10px 15px;
}
.va-detail{
    text-align: center;
}
.dasbor-header{
    background-color: #02b3e4;
    padding: 70px 15px 70px 15px;
}
.dasbor-body{
    padding: 25px;
}
.login_page{
    background-color: #fff; 
    padding: 50px 15px 30px 15px;
    border-left: 4px solid #4c7ef3;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.register_page{
    background-color: #fff; 
    padding: 50px 125px 20px 125px;
    border-left: 4px solid #f4645f;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.email_page{
    background-color: #fff; 
    padding: 50px 15px 30px 15px;
    border-left: 4px solid #ff3d25;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.reset_page{
    background-color: #fff; 
    padding: 50px 15px 30px 15px;
    border-left: 4px solid #00bcd4;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.copyright{
    top: 55%;
    position: relative;
}
.hr-normal{
    border-top: 1px solid #e8e9eb;
    margin: 0;
}
.footer-container{
    width: inherit;
    padding-top: 1.5rem;
    color: #3e3e40;
    line-height: 1.75rem;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.footer-first{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 30%;
}
.linkHeader{
    margin-bottom: 10px;
    font-size: 18px;
    color: #000000;
}
.footer-link{
    display: block;
    transition: color 250ms ease-out;
    margin-bottom: 5px;
}
.sm-wrapper{
    padding-top: 5px;
}
.fa {
    padding: 6px;
    font-size: 14px;
    width: 25px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
}
.fa:hover {
    opacity: 0.8;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.footer-second{
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 60%;
}
.list-course{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0;
}
.column-course{
    flex: 1 1;
    display: flex;
    flex-flow: column wrap;
}
.footer-third{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 10%;
}